@page "{path?}"
@model Server.Pages.Admin.FileManager.IndexModel

<div dir="ltr">

	<form enctype="multipart/form-data" method="post">

		<input type="hidden" id="Path" name="Path" value="@(Model.CurrentPath)" />

		<h5>
			Current Path: @(Model.CurrentPath)
		</h5>

		<partial name="PartialViews/_DisplayControls" model="Model" />

		<partial name="PartialViews/_DisplayDirectoryList" model="Model" />

		<partial name="PartialViews/_DisplayFileList" model="Model" />

		<partial name="PartialViews/_DisplayIcons" model="Model" />

	</form>

</div>
