@page "{path?}"
@model Server.Pages.Admin.FileManager.IndexModel

<div dir="ltr">

	<form method="post">

		<input type="hidden" id="Path" name="Path" value="@(Model.CurrentPath)" />

		<h5>
			Current Path: @(Model.CurrentPath)
		</h5>

		<div class="row mb-3">
			<div class="col">
				<button asp-page-handler="DeleteItems" type="submit" class="btn btn-danger btn-sm">Delete</button>
			</div>
		</div>

		<partial name="PartialViews/_DisplayDirectoryList.cshtml" model="Model" />

		<partial name="PartialViews/_DisplayFileList.cshtml" model="Model" />

		<partial name="PartialViews/_DisplayIcons.cshtml" model="Model" />

	</form>

</div>
