@page "{path?}"
@model Server.Pages.Admin.FileManager.IndexModel

<div dir="ltr">
	<h5>
		Current Path: @(Model.CurrentPath)
	</h5>

	<partial name="PartialViews/_DisplayDirectoryList.cshtml" model="Model" />

	<partial name="PartialViews/_DisplayFileList.cshtml" model="Model" />

	<partial name="PartialViews/_DisplayIcons.cshtml" model="Model" />
</div>
