<footer class="footer border-top py-3 bg-light text-muted fixed-bottom">
	<div class="container">
		<span class="text-muted text-light">
			&copy;2022 - @(Resources.DataDictionary.SiteTitle)
		</span>
	</div>
</footer>
