@page
@model Server.Pages.Account.AccessDeniedModel

@{
	var pageTitle =
		Resources.PageTitles.AccessDenied;

	ViewData["PageTitle"] = pageTitle;

	if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
	{
		Layout =
			"Layouts/Rtl/_Security";
	}
	else
	{
		Layout =
			"Layouts/Ltr/_Security";
	}
}

<div class="container">
	<h1 class="text-danger">
		Access Denied!
	</h1>
</div>
