@page
@model Server.Pages.Account.AccessDeniedModel
@{
	var pageTitle =
		Resources.PageTitles.AccessDenied;

	ViewData["PageTitle"] = pageTitle;
}

<div class="container">
	<h1 class="text-danger">
		Access Denied!
	</h1>
</div>
