@page
@model Server.Pages.AboutModel

@{
	var pageTitle =
		Resources.PageTitles.About;

	ViewData["PageTitle"] = pageTitle;
}

<h3>
	@(pageTitle)
</h3>

<hr />

<div class="row">
	<div class="col">
	</div>
	<div class="col">
		@(Resources.DataDictionary.SiteAuthor)
		<br />
		@(Resources.DataDictionary.Resume):
		<a href="https://jobinja.ir/user/Tasdighi" target="_blank">https://jobinja.ir/user/Tasdighi</a>
	</div>
	<div class="col">
		<img src="~/images/Dariush.jpg" class="img-fluid" alt="Dariush Tasdighi" asp-append-version=true />
	</div>
	<div class="col">
	</div>
</div>

<hr />
