@{
	var errorMessages =
	ViewData[index: Infrastructure.BasePageModel.ErrorMessagesKeyName] as
	System.Collections.Generic.IList<string>;

	if (errorMessages != null)
	{
		<div class="alert alert-danger pb-0" role="alert">
			<ul>
				@foreach (var message in errorMessages)
				{
					<li>@(message)</li>
				}
			</ul>
		</div>
	}

	var warningMessages =
	ViewData[index: Infrastructure.BasePageModel.WarningMessagesKeyName] as
	System.Collections.Generic.IList<string>;

	if (warningMessages != null)
	{
		<div class="alert alert-warning pb-0" role="alert">
			<ul>
				@foreach (var message in warningMessages)
				{
					<li>@(message)</li>
				}
			</ul>
		</div>
	}

	var successMessages =
	ViewData[index: Infrastructure.BasePageModel.SuccessMessagesKeyName] as
	System.Collections.Generic.IList<string>;

	if (successMessages != null)
	{
		<div class="alert alert-success pb-0" role="alert">
			<ul>
				@foreach (var message in successMessages)
				{
					<li>@(message)</li>
				}
			</ul>
		</div>
	}
}
